body{
    background-color: lemonchiffon;
}

.ex1{
    background-color: aqua;
    width:200px ;
    margin-top: 40px;
    margin-left: 100px;
}

.ex2{
    background-color: rgb(255, 0, 0);
    width: 200px;
}

.ex3{
    width: 250px;
    background-color: white;
    margin: 100px auto;
}